@charset "utf-8";
/* CSS Document */

body{margin:0px; font-family:Arial; font-size:.8em; color:#000; }
.header{width:100%; height:90px; background-color:#3fa6f3;}
/*.header{width:100%; height:90px; background-color:#9F81F7;}*/
/*.header{width:100%; height:90px; background-color:#FFBF00;}*/
/*.header{width:100%; height:90px; background-color:#F5A9F2;}*/

.logo{width:80px; height:98px; float:left; background:url(../images/logo.png); margin-left:35px; display:inline-block}
.emicro_logo{width:125px; height:35px; background:url(../images/emicro2.png); float:right; padding:0px; margin-right:35px; margin-top:30px}
.header_middel{ width:78%; height:auto; float:left; margin:0px}
/*.search_bg{width:100&; height:20px; background-color:#f1f1f1;}*/
.search_bg{width:100&; height:25px; background-color:#F8ECE0;}

/*MENU STARTED*/
.menu_wrapper{ width:auto; height:auto; float:left; margin:0px 0px 0px 150px; padding-left:10px}
.menucor_L{background:url(../images/menucor_L.jpg); width:20px; height:37px; float:left;}
.menucor_R{background:url(../images/menucor_R.jpg); width:20px; height:37px; float:left;}

.menubg_px{background:url(../images/menubg_px.jpg); width:auto; height:37px; float:left;}
/*MENU BG*/
.menu_bg{ width:91px; height:37px; float:left; margin:0px 0px 0px 0px; cursor:pointer; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; font-size:14px; color:#3b3c3c; font-weight:bold; text-transform:uppercase; line-height: 35px; text-shadow:#7e7e7e; text-align:center;}
.menu_bg a{ width:91px; height:37px; float:left; margin:0px 0px 0px 0px; cursor:pointer; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; font-size:14px; color:#3b3c3c; font-weight:bold; text-transform:uppercase; line-height: 35px; text-shadow:#7e7e7e; text-align:center;}
.menu_bg a:hover{ width:91px; height:37px; float:left; margin:0px 0px 0px 0px; background:url(../images/menu_over_small.jpg); background-repeat:no-repeat; cursor:pointer; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; font-size:14px; color:#FFF; font-weight:bold; text-transform:uppercase; line-height: 35px; text-shadow:#7e7e7e; text-align:center;}


/*MENU HELIGHT*/
.menu_bghover{ width:91px; height:37px; float:left; margin:0px 0px 0px 0px; background:url(../images/menu_over_small.jpg); background-repeat:no-repeat; cursor:pointer; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; font-size:14px; color:#FFF; font-weight:bold; text-transform:uppercase; line-height: 35px; text-shadow:#7e7e7e; text-align:center;}
.menu_bghover a{ width:91px; height:37px; float:left; margin:0px 0px 0px 0px; background:url(../images/menu_over_small.jpg); background-repeat:no-repeat; cursor:pointer; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; font-size:14px; color:#FFF; font-weight:bold; text-transform:uppercase; line-height: 35px; text-shadow:#7e7e7e; text-align:center;}


/*MENU_BG SIZE MEDIUM*/
.menu_bg_mid{ width:115px; height:37px; float:left; margin:0px 0px 0px 0px; cursor:pointer; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; font-size:14px; color:#3b3c3c; font-weight:bold; text-transform:uppercase; line-height: 35px; text-shadow:#7e7e7e; text-align:center;}
.menu_bg_mid a{ width:115px; height:37px; float:left; margin:0px 0px 0px 0px; cursor:pointer; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; font-size:14px; color:#3b3c3c; font-weight:bold; text-transform:uppercase; line-height: 35px; text-shadow:#7e7e7e; text-align:center;}
.menu_bg_mid a:hover{ width:115px; height:37px; float:left; margin:0px 0px 0px 0px; background:url(../images/menu_over.jpg); background-repeat:no-repeat; cursor:pointer; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; font-size:14px; color:#FFF; font-weight:bold; text-transform:uppercase; line-height: 35px; text-shadow:#7e7e7e}

/*MENU HELIGHT*/
.menu_bgmidhover{ width:115px; height:37px; float:left; margin:0px 0px 0px 0px; background:url(../images/menu_over.jpg); background-repeat:no-repeat; cursor:pointer; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; font-size:14px; color:#FFF; font-weight:bold; text-transform:uppercase; line-height: 35px; text-shadow:#7e7e7e; text-align:center;}
.menu_bgmidhover a{ width:115px; height:37px; float:left; margin:0px 0px 0px 0px; background:url(../images/menu_over.jpg); background-repeat:no-repeat; cursor:pointer; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; font-size:14px; color:#FFF; font-weight:bold; text-transform:uppercase; line-height: 35px; text-shadow:#7e7e7e; text-align:center;}


/*MENU_BG SIZE BIG*/
.menu_bg_big{ width:155px; height:37px; float:left; margin:0px 0px 0px 0px; cursor:pointer; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; font-size:14px; color:#3b3c3c; font-weight:bold; text-transform:uppercase; line-height: 35px; text-shadow:#7e7e7e; text-align:center;}
.menu_bg_big a{ width:155px; height:37px; float:left; margin:0px 0px 0px 0px; cursor:pointer; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; font-size:14px; color:#3b3c3c; font-weight:bold; text-transform:uppercase; line-height: 35px; text-shadow:#7e7e7e; text-align:center;}
.menu_bg_big a:hover{ width:155px; height:37px; float:left; margin:0px 0px 0px 0px; background:url(../images/menu_over_big.jpg); background-repeat:no-repeat; cursor:pointer; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; font-size:14px; color:#FFF; font-weight:bold; text-transform:uppercase; line-height: 35px; text-shadow:#7e7e7e}

/*MENU HELIGHT*/
.menu_bgbighover{ width:155px; height:37px; float:left; margin:0px 0px 0px 0px; background:url(../images/menu_over_big.jpg); background-repeat:no-repeat; cursor:pointer; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; font-size:14px; color:#FFF; font-weight:bold; text-transform:uppercase; line-height: 35px; text-shadow:#7e7e7e; text-align:center;}
.menu_bgbighover a{ width:155px; height:37px; float:left; margin:0px 0px 0px 0px; background:url(../images/menu_over_big.jpg); background-repeat:no-repeat; cursor:pointer; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; font-size:14px; color:#FFF; font-weight:bold; text-transform:uppercase; line-height: 35px; text-shadow:#7e7e7e; text-align:center;}


.contact{width:150pxpx; float:right; margin-right:5px; padding-top:5px;}

.search1{
	width:150px;
	float:right;
	font-family: Arial, Helvetica, sans-serif;
	margin-right:1px;
	 padding-top:5px;
}

.search1_icon{width:24px; float:right; margin-right:1px;  padding-top:5px; cursor:pointer}
.feedback_wrapper{width:280px; height:0px; float:right; padding-top:2px}
.link{font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; font-size:14px; color:#8e8e8e; font-style:italic;}
.link:hover{font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; font-size:14px; color:#39F; font-style:italic;}
input{ width:130px; height:15px; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; font-size:12px; color:#8e8e8e;}


/* CSS Document */
.feedbackmenu{ width:230px; height:45px;}
.normaltext{font-family:Arial; font-size:13px; color:#000; padding-left:20px; padding-top:10px; text-align:justify}
.normaltext2{font-family:Arial; font-size:12px; color:#fff;}


/* SEARCH CSS */
.menuRblock{float:right; width:270px; }
.contactperson{width:82px; height:25px; float:left; margin-top:6px; text-align:center; -moz-border-radius: 10px; border-radius: 10px; background-color:#ffffff; padding-top:2px;}
.search{width:150px; height:25px; float:left; margin-top:6px; text-align:center; -moz-border-radius:10px; border-radius: 10px; background-color:#ffffff; margin-left:5px}
.icon4search{height:25px; float:right; padding-top:5px; margin-right:1px;}
.arrow {width:20px;	height:20px; float:left; margin-left:5px; margin-top:17px;}

.textbox {
    border: none;
    background: transparent;
}


/* LEFT MENU CSS */
.wrapper_left{
	width:237px;
	height:375px;
	float:left;
	overflow:hidden;
}

.left-blocks {
	width:auto;
	height:0px;
	float:left;
	margin-top:5px;
 }


.mail_main{
		width:275px;
		height:375px;
		float: left;
		margin-bottom: 5px;
		_margin-bottom:0px;
		display:inline;
		text-decoration: none;
		font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
		font-size:12px;
		text-transform:uppercase;
		color:#3b3c3c;
		overflow-y: scroll;
	}
	
.mail{width:237px;
		height:30px;
		margin-top:1px;
		_margin-top:0px;
		background:url(../images/left_menu/1.jpg); background-repeat:no-repeat;
		float: left;
		display:inline;
		cursor:pointer;
		text-decoration: none;
		font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
		font-size:12px;
		text-transform:uppercase;
		color:#3b3c3c;
		font-weight:bold;
		line-height:25px;
		}
		
.mail a {width:237px;
		height:30px;
		float: left;
		cursor:pointer;
		text-decoration: none;
		font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
		font-size:12px;
		text-transform:uppercase;
		color:#3b3c3c;
		font-weight:bold;}		
		
.mail a:hover {width:237px;
		height:30px;
		background:url(../images/left_menu/2.jpg); background-repeat:no-repeat;
		float: left;
		display:inline;
		cursor:pointer;
		text-decoration: none;
		font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
		font-size:12px;
		text-transform:uppercase;
		color:#fff;
		font-weight:bold;}
		
		
/*.mail a:hover{background:url(../images/left_menu/2.jpg); background-repeat:no-repeat;
		width:237px;
		height:26px;
		float: left;
		cursor:pointer;
		text-decoration: none;
		font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
		font-size:12px;
		text-transform:uppercase;
		color:#fff;
		font-weight:bold;}		
*/		

.mailhover{width:237px;
		height:30px;
		margin-top:1px;
		_margin-top:1px;
		background:url(../images/left_menu/2.jpg); background-repeat:no-repeat;
		float: left;
		display:inline;
		cursor:pointer;
		text-decoration: none;
		font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
		font-size:12px;
		text-transform:uppercase;
		color:#fff;
		font-weight:bold;
		line-height:25px;
		}
.mailhover a{width:237px;
		height:30px;
		margin-top:1px;
		background:url(../images/left_menu/2.jpg); 
		background-repeat:no-repeat;
		float: left;
		display:inline-block;
		cursor:pointer;
		text-decoration: none;
		font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
		font-size:12px;
		text-transform:uppercase;
		color:#fff;
		font-weight:bold;
		line-height:25px;
		}
		
/*.mail:active {background:url(../images/left_menu/3.jpg);
		width:237px;	
		height:30px;
		background-repeat:no-repeat;
		text-decoration: none;
		font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
		font-size:11px;
		text-transform:uppercase;
		color:#fff;
		font-weight:bold;}*/
				
.submenubg{background:url(../images/left_menu/submenu_bgpx.jpg); background-repeat:repeat-x; width:224px; margin-left:6px;
			border-right-width: 1px;
			border-left-width: 1px;			
			border-right-style: solid;			
			border-left-style: solid;			
			border-right-color: #c5c5c5;			
			border-left-color: #c5c5c5; }


ul{
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	text-transform:capitalize;
	height:auto;
	font-size:13px;
	padding:5px 0px 5px 25px;
	color:#000000;
	border-bottom:dotted 1px;
	border-color: #CCCCCC;
	margin:0px;}
	
ul a{
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	text-transform:capitalize;
	height:auto;
	font-size:13px;
	color:#000000;
	margin:0px;}
	
ul a:hover{
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	text-transform:capitalize;
	height:auto;
	font-size:13px;
	color:#39F;
	margin:0px;}		
.calender{
	width:270px;
	height:140px;
	background-image:url(../images/calender.jpg);
	background-color:#eeeeee;
	border:solid 1px;
	border-color:#666666;
	float: left;
	margin-top: 4px;
}

/* MENU CSS ENDS */



.middelpart{width:100%; height:auto;}/* DEFINES HEIGHT OF MIDDEL PART  */


/* MIDDEL HEADING CSS
.headline{
	width:100%;
	height:42px;
	float: left;
	padding-left: 5px;
}
.head_leftcurve {
	margin: 0px;
	padding: 0px;
	float: left;
	height: 42px;
	width: 12px;
	background-image: url(../images/heding_left_curve.jpg);
}
.head_bg {
	background-image: url(../images/heding_bg.jpg);
	background-repeat: repeat-x;
	margin: 0px;
	padding: 0px;
	width:100%;
	height: 42px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 42px;
	color: #005da2;
}
.head_rightcurve {
	background-image: url(../images/heding_right_curve.jpg);
	background-repeat: no-repeat;
	margin: 0px;
	padding: 0px;
	float:right;
	height: 42px;
	width: 13px;
}

.headline_content{
	width:460px;
	height:180px;
	float: left;
}/* MIDDEL HEADING ENDS */


/* RIGHT HEADING STARTS 
.righthead_bg {
	background-image: url(../images/heding_bg.jpg);
	background-repeat: repeat-x;
	float:right;
	margin: 0px;
	padding:0px;
	text-align:center;
	height: 42px;
	width: 228px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size: 14px;
	line-height: 42px;
	color: #005da2;
	}
.msgheadline{
	width:238px;
	height:42px;
	float: left;
	padding-left:5px;
}
.msghead_bg {
	background-image: url(../images/heding_bg.jpg);
	background-repeat: repeat-x;
	margin: 0px;
	padding: 10px 0px 0px 0px;
	float: left;
	height: 42px;
	width: 213px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size:13px;
	line-height: 42px;
	color: #005da2;
}*/
/* RIGHT HEADING ENDS */



/* FOOTER CSS STARTS */

/*.footer1 {
	width:100%;
	height:116px;
	background-image:url(../images/footer.png);
	background-repeat:no-repeat;
	background-position:bottom center;
	
}

.footers {
	
	height:115px;
}*/

#footer1 {
   position:fixed;
   left:0px;
   bottom:0px;
   height:20px;
   width:100%;
   background:#3fa6f3;

   margin: 0 auto;
   box-shadow: 0 0 20px #111;
   clear: both;
   overflow: hidden;
}

*html #footers1 {
	margin-top: -2px; /* prevents infinite scroll if #footer have a border of 2px*/
	position: absolute;
	top: expression(documentElement.scrollTop+(documentElement.clientHeight-this.clientHeight));
}

.left-blocks {
	width:auto;
	height:0px;
	float:left;
}

.copyright {	
	height:0px;
	float:left;
	padding:0px 0 0 0px;
	color:white;
	font-size:12px;
}


.copyright p {
	margin:10px;
	font-family:'Trebuchet MS';
	font-size:10px;
	color:#ffffff;
}

.right-blocks {
	height:0px;	
	float:right;	
	padding:0px 0 0 0px ;
	color:white;	
}

.right-blocks p {
	font-family:'Trebuchet MS';
	font-size:20px;
	color:#ffffff; 
	
}/* FOOTER CSS ENDS */


input{background-color:#FFF; border:1px #2d74a8 solid; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; font-size:12px; color:#6b6b6b; text-align:center}
select{background-color:#FFF; border:1px #2d74a8 solid; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#127bca; text-align:center}

a:link {

	text-decoration: none;
}

a, u {
    text-decoration: none;
}
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
a:active {
	text-decoration: none;
}
