@charset "utf-8";
/* CSS Document */
body{margin:0px; font-family:Arial; font-size:12px; color:#000;}

.wrapper{width:100%; height:auto; float:left; position:absolute;}

.middel-blocks-iframe {
	width:100%;
	float:left;
	margin:0px;
	padding:0px;
	}
.underline{width:100px; background-color:#a7c6dc; height:1px; margin-top:6px; margin-bottom:6px;}	
.heading{font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; font-size:16px; font-weight:bold; padding-bottom:3px; color:#4b4b4b; text-align:left; text-transform:uppercase;}

.heading_link{font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#8e8e8e; color:#000;}
.heading_link a{font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#8e8e8e; color:#39F;}
.heading_link a:hover{font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#39F; color:#39F;}


/*.headline{
	width:80%;
	height:42px;
	float:left;
	padding-left:5px;
}
.head_leftcurve {
	margin: 0px;
	padding: 0px;
	float: left;
	height: 42px;
	width: 12px;
	background-image: url(../images/heding_left_curve.jpg);
}
.head_bg {
	background-image: url(../images/heding_bg.jpg);
	background-repeat: repeat-x;
	margin: 0px;
	padding: 0px;
	width:100%;
	height: 42px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 42px;
	color: #005da2;
}
.head_rightcurve {
	background-image: url(../images/heding_right_curve.jpg);
	background-repeat: no-repeat;
	margin: 0px;
	padding: 0px;
	float:right;
	height: 42px;
	width: 13px;
	}

.headline_content{
	width:460px;
	height:180px;
	float: left;
}
/*
.announcements_content{
	width:460px;
	height:200px;
	float: left;
}*/
.announcements{ width:479px; height:42px; background-image:url(../images/organisation.png);}

/*----RIGHT BLOCK-----*/
.right-img_blocks-iframe {
	width:250px;
	float:right;
	margin-right:10px;
}
.name {
	margin: 0px;
	text-align:center;
	padding-top:5px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size: 18px;
	color: #787878;
	cursor: pointer;
}


/*----HYPER LINK-----*/
.name:hover {
	margin: 0px;
	text-align:center;
	padding-top:5px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size: 18px;
	color: #38d3ff;
	cursor: pointer;
}

.righthead_bg {
	background-image: url(../images/heding_bg.jpg);
	background-repeat: repeat-x;
	float:right;
	margin: 0px;
	padding:0px;
	text-align:center;
	height: 42px;
	width: 228px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size: 14px;
	line-height: 42px;
	color: #005da2;
	}
.msgheadline{
	width:238px;
	height:42px;
	float: left;
	padding-left:5px;
}
.msghead_bg {
	background-image: url(../images/heding_bg.jpg);
	background-repeat: repeat-x;
	margin: 0px;
	padding: 10px 0px 0px 0px;
	float: left;
	height: 32px;
	width: 90%;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size:13px;
	line-height: 42px;
	color: #005da2;
}/*----RIGHT BLOCK ENDS-----*/
.title{
	width:100%;
	height:42px;
	background: #c8e6f3;
	background: -webkit-gradient(linear, left top, left bottom, from(#ecf3f8), to(#c8e6f3));
	background: -moz-linear-gradient(top,  #ecf3f8,  #c8e6f3);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ecf3f8', endColorstr='#c8e6f3');
	font-family:Verdana, Geneva, sans-serif; 
	font-weight:bold; font-size:15px; 
	text-transform:uppercase;
	padding:0px 0px 0px 15px;
	line-height:35px;
	color:#005da2; 
	border:#38abff 1px solid; 

}
.text{font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#333; padding:0px 0px 0px 15px}
.mgmtmsg{float:left; width:161px; height:30px; text-align:left; padding-left:5px; background-color:#616161; overflow:auto; margin:0px 0px 10px 64px; line-height:30px; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; font-size:12px; font-weight:bold; font-weight:bold; color:#FFF}

li{padding-top:2px; margin-bottom:10px; font-family:Arial, Helvetica, sans-serif; font-size:12px; text-align:justify; color:#000; list-style:url(../images/bullet.jpg); }
li a {padding-top:2px; margin-bottom:10px; font-family:Arial, Helvetica, sans-serif; font-size:12px; text-align:justify; color:#000; list-style:url(../images/bullet.jpg); }
li a:hover {padding-top:2px; margin-bottom:10px; font-family:Arial, Helvetica, sans-serif; font-size:12px; text-align:justify; color:#39F; list-style:url(../images/bullet.jpg); }

.mgmt_img{margin-top:55px;}